
/*====================== CSS of the Website ===================*/

/*====================== Body START =====================*/
:root {
  --input-padding-x: 15px;
  --input-padding-y: 7.5px;
}

body{
	width: 100%;
	margin: 0px;
	border: 0px;

}

.container {
  padding: 2rem 0rem;
}


/*====================== Body END =====================*/
.dropdownn {
    position: relative;
    display: inline-block;
}

.dropdownn-content {
    display: none;
    position: absolute;
    background-color: #15161D;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownn-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownn-content a:hover {background-color: #15161D}

.dropdownn:hover .dropdownn-content {
    display: block;
}

.login100-form {
    width: 100%;
}
.login100-form-title {
    display: block;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}





.agile_form  input[type=text],.agile_form input[type="email"]{
	padding: 1em;
    margin: 0em 0em 1em 0;
    color: #000000;
    width: 43%;
	font-size: 14px;
	outline: none;
	border: 1px solid #504d4d;
	border-radius: 5px;
	letter-spacing: 1.5px;
}
.agile_form input[type="email"] {
	margin-left:0.8em;
}
.agile_form textarea {
	font-size: 14px;
    padding: 0.8em 1em;
    margin-bottom: 1em;
    width: 94.5%;
    outline: none;
    resize: none;
    height: 9em;
    border: 1px solid #696867;
	border-radius: 5px;
	letter-spacing: 1px;
}
.agile_form ul {
	list-style-type: none;
}
.agile_form ul li{
  color: #000000;
  position: relative;
 }
 .agile_form ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.agile_form ul li label{
   display: inline-block;
    position: relative;
    font-size: 1em;
    padding: 0.5em 0em 0.5em 2.5em;
    margin: 0px 0 0px 1em;
    z-index: 9;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-transition: all 0.25s linear;
}
.agile_form ul li label:hover {
	color:#eb205b;
}
.checkbox {
    position: relative;
    padding-left: 38px !important;
    cursor: pointer;
}
ul li .check{
	display: block;
	position: absolute;
	border: 3px solid #000000;
	border-radius: 100%;
	height: 13px;
	width: 13px;
	top: 8px;
	left: 17px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
.agile_form ul li:hover .check {
  border: 3px solid #eb205b;
}

.agile_form ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 5px;
	width: 5px;
	top: 4px;
	left: 4px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.agile_form input[type=radio]:checked ~ .check {
  border: 3px solid #eb205b;
}


.agile_form input[type=radio]:checked ~ label{
  color: #eb205b;}
  
.textarea.w3l_summary {
	 min-height: 4em;
	 background: #eb205b;
	 font-size: 0.85em;
}

.agile_form  input[type="submit"] {
	width:30%;
	text-transform: uppercase;
    outline: none; 
    border: none;
    cursor: pointer;
	color: #f5ecf1;
	font-size:16px;
	font-weight: bold;
	padding: 0.85em 0;
	letter-spacing: 1px;
	border-radius: 5px;
	border: 1px solid #696867;
    background: rgba(1, 14, 21, 0.62);
}

.agile_form input[type="submit"]:hover{
	color: #ffffff;
	font-weight: bold;
    background: #eb205b;
}

i.icon_agileits {
	color: #000;
	margin-right: 0.5em;
}
.agileits_copyright  p{
	font-size: 16px;
    color: #fee8d3;
	padding-bottom: 2em;
    line-height: 2;}
.agileits_copyright  a {
      color: #fee8d3;
}	
.agileits_copyright a:hover {
	color: #FFC107;
	text-decoration: none;
}






/*========================= PopUp START =====================*/

#popUpMain{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
	
#popup{
	width: 100%;
	height: 100%;
	top: 30%;
	background-size: cover;
	position: absolute;
	text-align: center;
}
	

.new{
	width: 25%;
	height: 35%;
}

.submitId{
	margin-top: 8px;
}

/*========================= PopUp END =====================*/


/*====================== CART BUTTON IN NAV BAR START =====================*/

span.fa.fa-shopping-cart.my-cart-icon {
    position: relative !important;
	color: #ffffff;
	font-size: 1.2em;
}

/*====================== CART BUTTON IN NAV BAR END =====================*/


/*====================== PRODUCT DETAILS PAGE START =====================*/


.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; 
}
 
@media screen and (max-width: 996px) {
    .preview {
		margin-bottom: 20px; 
	} 
}

.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
    flex-grow: 1; 
}

.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px; 
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
	margin-right: 2.5%; 
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
	display: block; 
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; 
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; 
}

.tab-content {
  overflow: hidden; 
} 

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; 
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
	transform: scale(3); 
	}
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); 
	} 
}

/*====================== PRODUCT DETAILS PAGE END =====================*/

/*====================== CART SECTION START =====================*/


.card{
	width: 100%;
}

/*====================== CART SECTION END =====================*/


/*====================== SITE SECTION FOR CART, CHECJOUT, ORDER PAGES START =====================*/

#site {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
}

/*====================== SITE SECTION FOR CART, CHECJOUT, ORDER PAGES END =====================*/


/*====================== ADD TO CART BUTTON FOR HOME PAGE, CATEGORIES, PRODUCT DETAILS PAGES START =====================*/

form.add-to-cart div, form.add-to-cart p {
	margin-top: 20px;
	
}

form.contact-seller, form.add-to-cart  {
	display: inline-block;
}

/*====================== ADD TO CART BUTTON FOR HOME PAGE, CATEGORIES, PRODUCT DETAILS PAGES END =====================*/


/*====================== CONTACT SELLER BUTTON FOR PRODUCT DETAILS PAGES START =====================*/

form.contact-seller p{
	margin-left: 25px;
}

form.add-to-cart div input{
	width: 50px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #ccc;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
	margin-left: 0.4em;
}

/*====================== CONTACT SELLER BUTTON FOR PRODUCT DETAILS PAGES END =====================*/


/*====================== CART PAGE START =====================*/


#shopping-cart {
	margin: 1.5em 0;
}

#shopping-cart-actions {
	margin: 1.5em 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#shopping-cart-actions li {
	display: inline-block;
	margin-right: 1em;
}

.shopping-cart tr:nth-child(even) {
	background: #fafafa;
},

.shopping-cart td.pdelete {
	text-align: center;
}

.pdelete a,
.pdelete a:hover {
	color: #c00;
	text-decoration: none;
	font-size: 2.5em;
	display: block;
	text-align: center;
}

/*====================== CART PAGE END =====================*/

/*====================== SHIPPING CART SECTION, SUB TOTAL PRICE & TOTAL PRICE FOR CART, CHECKOUT, ORDER PAGES START =====================*/

.shopping-cart {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
}

.shopping-cart th {
	font-size: 1.3em;
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
	text-transform: uppercase;
}

.shopping-cart td {
	padding: 0.3em;
	width: 33.3%;
	border: 1px solid #ddd;
}

#pricing {
	padding: 0.5em;
	margin: 1em 0;
	background: #e3e3e3;
}

#sub-total, #shipping {
	margin: 1.5em 0;
	text-align: right;
}

#sub-total span,
#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
	
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

/*====================== SHIPPING CART SECTION, SUB TOTAL PRICE & TOTAL PRICE FOR CART, CHECKOUT, ORDER PAGES END =====================*/


/*====================== CHECKOUT FORM FOR CHECKOUT, ORDER PAGES START =====================*/

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
	text-align: center;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}


#checkout-form , #checkout-order-form  {
	display: inline-block;
	margin-left: 25%;
	padding: 0;
	list-style: none;
	text-align: center;
}


#paypal-form{
	margin-left: 45%;
	margin-right: 50%;
}

/*====================== CHECKOUT FORM FOR CHECKOUT, ORDER PAGES END =====================*/




/*============ Scroll-up Bottom START ====================*/

#scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: #e93059;
  background-color: #000000;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#scroll-btn:hover{
	background-color: rgba(0, 0, 0, 0.7);

}

/*============ Scroll-up Bottom END ====================*/


/*====================== CARD SECTION FOR HOMEPAGE, CATEGORIES, PRODUCT DETAILS PAGES START =====================*/

.mid-2 p{
	font-size:0.9em;
	color:#B4B4B4;
}
.mid-2 p em{
	font-style:normal;
}
.mid-2 p label{
	text-decoration: line-through;
	font-weight:400;
	margin-right:6px;
}

.card-title{
    margin-top: -10px;
}
.mid-2{
    margin-top: -10px;
    margin-bottom: -10px;
}
.mid-1 {
    padding: 1em 0 0;
}


.card-body .list, .product-description .list {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.card-body .list li, .product-description .list li {
  display: inline-block;
}

.card-body .list li i, .product-description .list li i {
  display: inline-block;
  color: #fbd600;
}

.card-body .list li .last , .product-description .list li last{
  display: inline-block;
  color: #DCDCDC;
}

.card-body .list li p, .product-description .list li p {
  font-size: 12px;
}


.product-description .certified {
    margin-top: 10px;
}

.product-description .certified ul {
    padding-left: 0;
	
}

.product-description .certified ul li:not(first-child) {
	margin-left: 70px;
	margin-right: 50px;
}

.product-description .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 13px 19px;
	text-align: left;
    font-size: 12px;
    color: #000000;
    line-height: 16px;
    text-decoration: none;
	
}


.product-description .certified ul li  span {
    display: block;
    color: #f51651;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
	margin-top: 5px;
}

/*====================== CARD SECTION FOR HOMEPAGE, CATEGORIES, PRODUCT DETAILS PAGES END =====================*/


/*=================== SUBSCRIBE SECTION START ====================*/

.subscribe_area {
  background-image: url("../../images/subscribe.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe_area h5 {
  font-size: 14px;
  font-weight: 400;
  color: #ff3368;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subscribe_area h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin: 35px 0 67px;
}

@media (max-width: 991px) {
  .subscribe_area h2 {
    font-size: 30px;
    line-height: 35px;
    margin: 15px 0 30px;
  }
}

.subscribe_area .input-group input {
  height: 60px;
  padding-left: 25px;
  border: 0px solid transparent;
  background-color: #fff;
}

.subscribe_area .input-group input::placeholder {
  text-transform: capitalize;
}

.subscribe_area .input-group .input-group-text {
  height: 60px;
  width: auto;
  line-height: 60px;
  padding: 0px 45px;
  border: 0px solid transparent;
  background-color: #ff3368;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  .subscribe_area .input-group > .custom-file, .subscribe_area .input-group > .custom-select, .subscribe_area .input-group > .form-control, .subscribe_area .input-group > .form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 0;
  }
  .subscribe_area .input-group {
    text-align: center;
    justify-content: center;
  }
  .subscribe_area .input-group-text {
    margin-top: 30px;
    text-align: center;
    margin-left: 0;
  }
}

/*=================== SUBSCRIBE SECTION END ====================*/


/*=================== REGISTER, LOGIN PAGES START ====================*/

.card-signin .card-body {
  padding: 20px;
}


.form-signin .btn {
  font-size: 100%;
  border-radius: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 5px;
}

.form-label-group input {
  height: auto;
  border-radius: 10px;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
 
  width: 100%;
  margin-bottom: 5px;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

hr{
	
}

.forgotPassw{
	text-align: center;
}

.hrOr .spanOr {
	display: block;	
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
}	

.btn-google {
  color: white;
  background-color: #ea4335;
  margin-bottom: 20px;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
  
}

/*=================== REGISTER, LOGIN PAGES END ====================*/



/*====================== FOOTER START ===========================*/

footer{
    position: relative;
   left: 0;
   bottom: 0;
   top: 0;
   width: 100%;
   height: auto;
}
footer .footerwrap{
	margin-top: -100px;
  border-bottom: 3px solid #e93059;
  display: inline-block;
  width: 100%;
  
}


.bottom{
	margin-top: 0px;
	margin-bottom: -60px;
	text-align: center;
	overflow: auto;	
}

.bottom p{
	color: white;
	padding: 10px;
}
.strong{
	font-weight: bold;
	font-size: 1em;
}
.column ul li{
	list-style-type: none;
	color: white;
	margin-bottom: 5px;
}
.column ul li a{
	color: white;
	text-decoration: none;
	position: relative;
}
.column.one ul li a:before{
	content: "";
	display: block;
	top: 18px;
	height: 3px;
	width: 0%;
	background-color: #e93059;
	transition: all ease-in-out 250ms;
	position: absolute;
}
.column.two ul li a:before{
	content: "";
	display: block;
	top: 18px;
	height: 3px;
	width: 0%;
	background-color: #e93059;
	transition: all ease-in-out 250ms;
	position: absolute;
}
.column ul li a:hover:before {
	width: 100%;
}
.column ul{
	margin: 0;
	padding: 0;
}
.column{
	float: left;
}
.column.one{
	width: 20%;
	margin-bottom: 5px;
	margin-left:5%;
}
.column.two{
	width: 20%;
	margin-bottom: 5px;
	margin-left: 5%;
}
.three:not(.phone) img{
	height: 32px;
}
.four:not(.phone) img{
	height: 32px;
}
.socialicon{
	margin-left: 10px;
}
.contacticon{
	position: relative;
	top: 13px;
}
.phone{
	position: relative;
	top: 13px;
}
.footer_logo img{
	margin-top: 8px;
	width: 100px;
	margin-left: 30px;
}

.footerwrap .footer-newsletter {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 30px;
  width: 30%;
  float: right;
  
  position: relative;
  
}

.footerwrap .footer-newsletter h5 {

display: block;
  font-weight: bold;
  color: #fff;
  position: relative;
  margin-bottom: 0px;
  margin-top: -140px;
  
}

.footerwrap .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px 0 0 4px;
  text-align: left;
  margin-top: 15px;
}

.footerwrap .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: 75%;
}

.footerwrap .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -4px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #e93059;
  color: #ffffff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.footerwrap .footer-newsletter form input[type="submit"]:hover {
  background: #ff3662;
}

/*====================== FOOTER END ===========================*/


/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}


  
  
  
  
  
  
  
  
  
  
